/* Or directly:
$fonts: Kavoon, Wendy One, Bonbon;
*/
* {
  box-sizing: border-box; }

body {
  font-family: 'heavitas';
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; }

h1 {
  font-size: 2rem;
  letter-spacing: .2rem; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    letter-spacing: .3rem; } }

h2 {
  font-family: 'heavitas';
  font-size: 2rem;
  letter-spacing: .3rem; }

h3 {
  font-family: Athiti;
  font-size: 2em;
  font-weight: 200; }

p {
  font-family: Athiti;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: .25rem; }

ul {
  margin: 0;
  padding: 0;
  font-family: Athiti;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  list-style-type: none; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.body-wrap {
  position: relative;
  width: 100%;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: visible; }

.row {
  width: 100%; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-top: 5rem; }

@media (min-width: 400px) {
  .body-wrap {
    width: 85%;
    padding: 0; } }

@media (min-width: 768px) {
  .body-wrap {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66667%; }
  .two.columns {
    width: 13.33333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.66667%; }
  .five.columns {
    width: 39.33333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.66667%; }
  .eight.columns {
    width: 65.33333%; }
  .nine.columns {
    width: 74%; }
  .ten.columns {
    width: 82.66667%; }
  .eleven.columns {
    width: 91.33333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.66667%; }
  .two-thirds.column {
    width: 65.33333%; }
  .one-half.column {
    width: 48%; }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; } }

.body-wrap:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.button_container {
  position: fixed;
  top: 21px;
  left: 25px;
  height: 0;
  width: 25px;
  cursor: pointer;
  z-index: 7500;
  transition: opacity .25s ease;
  animation-name: ham-menu-visual;
  animation-duration: 1s; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #000; }
  .button_container.active .middle {
    opacity: 0;
    background: #000; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #000; }
  .button_container span {
    background: #FFF;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
    top: 0;
    right: 0; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
      .overlay.open li:nth-of-type(5) {
        animation-delay: .55s; }
      .overlay.open li:nth-of-type(6) {
        animation-delay: .60s; }
      .overlay.open li:nth-of-type(7) {
        animation-delay: .65s; }
      .overlay.open li:nth-of-type(8) {
        animation-delay: .70s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right; }
  .overlay ul {
    font-family: Athiti;
    font-size: 1em;
    font-weight: 200;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 15%;
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        color: white;
        padding: 10px;
        text-decoration: none;
        background-color: #000; }
        .overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
          color: grey; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    right: 800px; }
  100% {
    opacity: 1;
    right: 0; } }

@media screen and (min-width: 768px) {
  .button_container {
    display: none; }
  .overlay {
    display: none; } }

.desktop-nav {
  text-align: right;
  width: 100%;
  margin: -68px  0  0 -14px;
  font-family: Athiti;
  font-size: .8em;
  font-weight: 200; }
  .desktop-nav a {
    color: #FFF;
    text-decoration: none;
    padding: 0 7px 4px 7px;
    transition: letter-spacing 1s; }
    .desktop-nav a:hover, .desktop-nav a:focus, .desktop-nav a:active {
      letter-spacing: .05rem;
      color: grey;
      background-color: #FFF; }

@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none; } }

/* Chrome, Safari, Opera */
@-webkit-keyframes ham-menu-visual {
  0% {
    opacity: 1.0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1.0; } }

@keyframes ham-menu-visual {
  0% {
    opacity: 1.0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1.0; } }

header {
  z-index: 5000;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right; }
  header h1 {
    margin-top: -5px;
    padding: 27px 2px 15px 0;
    width: 100%;
    background-color: #000;
    color: #FFF; }
    header h1 a {
      color: white;
      text-decoration: none;
      letter-spacing: 1rem;
      transition: letter-spacing 1s; }
      header h1 a:hover, header h1 a:focus, header h1 a:active {
        background-color: inherit;
        letter-spacing: .90rem;
        color: #FFF;
        cursor: pointer; }

.view-blocks {
  padding-top: 80px; }

.hours {
  text-align: center; }

#map {
  width: 100%;
  height: 200px; }

#home {
  top: 30vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.pirate-email {
  width: 100px;
  height: 100px;
  border: 1px cdcdb1 solid;
  background-size: 100px;
  background-image: url(../images/email_lg_g-01.png);
  background-repeat: no-repeat;
  border-radius: 1000px;
  background-size: 100%;
  transition: all .25s; }
  .pirate-email:hover {
    background-image: url(../images/email_lg_b-01.png);
    background-color: rgba(111, 111, 111, 0.2);
    width: 103px;
    height: 103px; }

.pirate-facebook {
  width: 100px;
  height: 100px;
  border: 1px  cdcdb1 solid;
  background-image: url(../images/facebook_lg_g-02.png);
  background-repeat: no-repeat;
  border-radius: 1000px;
  background-size: 100%;
  transition: all .25s; }
  .pirate-facebook:hover {
    background-color: rgba(111, 111, 111, 0.2);
    background-image: url(../images/facebook_lg_b-02.png);
    width: 103px;
    height: 103px; }

#contact {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #contact .main-buttons {
    display: flex;
    align-items: center; }
    #contact .main-buttons ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      #contact .main-buttons ul li {
        display: flex;
        justify-content: center;
        width: 110px;
        flex-direction: row;
        align-items: center;
        margin: -5px;
        padding: 10px;
        color: grey;
        transition: all .25s; }
        #contact .main-buttons ul li:hover, #contact .main-buttons ul li:focus, #contact .main-buttons ul li:active {
          color: #000;
          background-color: rgba(111, 111, 111, 0.2); }

.artist-profiles .hidden-profile a {
  padding: 0; }

.artist-profiles .hidden-profile img {
  width: 8%;
  max-width: 35px; }

#member {
  display: flex;
  flex-flow: row;
  width: 100%; }

.profile-images {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-clip: padding-box;
  margin: -50px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: center; }

.background {
  color: #DADADA;
  opacity: 1;
  position: fixed;
  width: 100%;
  text-align: right;
  top: 30vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25px 0 0;
  z-index: -5000; }

.footer {
  background-color: #000;
  height: 30px;
  width: 100%; }

/*# sourceMappingURL=../maps/application.css.map */
