@font-face {
  font-family: "heavitas";
  src: url("fonts/heavitas.eot");
  src: url("fonts/heavitas.eot?#iefix") format("embedded-opentype"), url("fonts/heavitas.woff") format("woff"), url("fonts/heavitas.ttf") format("truetype"), url("fonts/heavitas.svg#heavitas") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "heavitas";
    src: url("fonts/heavitas.svg#heavitas") format("svg"); } }

body {
  font-family: 'heavitas';
  box-sizing: border-box; }

.heading {
  z-index: 5000;
  width: 100%;
  padding: 45px;
  text-align: right;
  color: white;
  background-color: black; }
