.background{
    color: black;
    position: fixed;
    width: 100%;
    text-align: right;
    top: 30vh;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 25px 0 0;
    z-index: $z-bottom;
    transition: all .5s;
}
.fade-out{
    color: #DADADA;
    // transition: all 1s;
}
// .fade-in{
//     color: black;
// }
