.view-blocks {
    padding-top: 80px;
}

#map {
    width: 100%;
    height: 200px;
}

#home {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
// hide members menu
#pirate-mobile-menu {
    display: none;
}
.pirate-main-nav {
    display:none;
}
//===============================================
// background images for fb & email
//===============================================
.pirate-email{
    width: 6em;
    height: 6em;
    border: 1px cdcdb1 solid;
    background-size: 100px;
    background-image: url(../images/email_lg_g-01.png);
    background-repeat: no-repeat;
    border-radius: 1000px;
    background-size: 100%;
    border: 1px solid #d3d3d3;
    transition: all .25s;

    &:hover{
        background-image: url(../images/email_lg_b-01.png);
        background-color: rgba(111, 111, 111, .2);
        width: 103px;
        height: 103px;
    }
}

.pirate-facebook{
    width: 6em;
    height: 6em;
    border: 1px  cdcdb1 solid;
    background-image: url(../images/facebook_lg_g-02.png);
    background-repeat: no-repeat;
    border-radius: 1000px;
    background-size: 100%;
    border: 1px solid #d3d3d3;
    transition: all .25s;
    &:hover{
        background-color: rgba(111, 111, 111, .2);
        background-image: url(../images/facebook_lg_b-02.png);
        width: 103px;
        height: 103px;
    }
}
//===============================================
// contact pirate
//===============================================
#contact {
    visibility: visible;
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .main-buttons{
        ul{
            font-size: 1.15em;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            li{
                display: flex;
                justify-content: center;
                width: 110px;
                flex-direction: row;
                align-items: center;
                margin: -5px;
                padding: 10px;
                color: $color-dark;
                border: 1px solid #d3d3d3;
                transition: all .5s;
                &:hover, &:focus, &:active {
                    color: $color-dark;
                    background-color: rgba(111, 111, 111, .2);
                    font-size: 1.25rem;
                    font-weight: 400;
                }
            }
        }
    }
}
//***********************************************
// LOGIN FORM STYLES*****************************
//***********************************************

#login-form{
    display: none;
    margin: 0 0 2em 0;
    text-align: center;
}
//=================================================
// styles for artist profiles
//=================================================

.artist-profile{
    left: 0;
    margin-top: -2.5rem;
    width: 100%;
    height: auto;
    margin-left: 0;
    span{
        font-weight: 700;
    }
}
