.view-blocks {
    padding-top: 80px;
}

.hours {
    text-align: center;
}

#map {
    width: 100%;
    height: 200px;
}

#home {
    top: 30vh;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
//===============================================
// background images for fb & email
//===============================================
.pirate-email{
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url(../images/email_lg_b-01.png);
    background-repeat: no-repeat;
    border-radius: 1000px;
    font-size: 16px;
    background-size: 100%;
    transition: all .25s;

    &:hover{
        background-image: url(../images/email_lg_w-01.png);
        background-color: rgba(111, 111, 111, .2);
    }
}

.pirate-facebook{
    width: 100px;
    height: 100px;
    max-height: 120px;
    background-image: url(../images/facebook_lg_b-02.png);
    max-width: 120px;
    background-repeat: no-repeat;
    border-radius: 1000px;
    font-size: 16px;
    background-size: 100%;
    transition: all .25s;
    &:hover{
        background-color: rgba(111, 111, 111, .2);
        background-image: url(../images/facebook_lg_w-02.png);

    }
}
//===============================================
// contact pirate
//===============================================
#contact {
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .main-buttons{
        display: flex;
        align-items: center;
        ul{
            width: 100px;
            margin-top: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: -35px 0 20px 0;
                padding: 10px;
                color: $color-dark;
                transition: all .25s;
                &:hover, &:focus, &:active {
                    color: $color-light;
                    background-color: rgba(111, 111, 111, .2);
                }
            }
        }
    }
}

//=================================================
// styles for artist profiles
//=================================================
.artist-profiles{
    .hidden-profile {
        a{
            padding: 0;
        }
        img{
            width: 8%;
            max-width: 35px;
        }
        span {

        }
        p {

        }
    }
}

#member{
    display: flex;
    flex-flow: row;
    width: 100%;
}

.hidden-profile{
    // display: nosne;
}

.profile-images{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    margin: -50px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center;
}
