header{
    z-index: 5000;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    h1{
        margin-top: -5px;
        padding: 27px 2px 15px 0;
        width: 100%;
        background-color: $color-dark;
        color: $color-light;
        a{
            color: white;
            text-decoration: none;
            letter-spacing: 1rem;
            transition: letter-spacing 1s;
            &:hover, &:focus, &:active {
                background-color: inherit;
                letter-spacing: .90rem;;
                color: $color-light;
                cursor: pointer;
            }
        }
    }
}
