//===========================
// mobile navigation nav
//===========================
.button_container {
  position: fixed;
  top: 27px;
  left: 25px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: $z-mobile;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-dark;
    }
    .middle {
      opacity: 0;
      background: $color-dark;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-dark;
    }
  }

  span {
  background: $color-light;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-light;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: .95;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
      &:nth-of-type(5) {
        animation-delay: .55s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        color: $color-dark;
        &:hover, &:focus, &:active {
           color: red;
        }
      }
    }
  }
}
//---------------------------------------------------
// nav items fade in right
//---------------------------------------------------
@keyframes fadeInRight {
  0% {
    opacity: 0;
    right: 40%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
//---------------------------------------------------
// do not display on mobile
//---------------------------------------------------
@media screen and (min-width: $mobile-styles) {
  .button_container{
    display: $dont-show;
  }
  .overlay{
    display: $dont-show;
  }
}

//===========================
// desktop navigation nav
//===========================
.desktop-nav{
  width: 100%;
  margin-top: -40px;
}

@media screen and (max-width:768px) {
  .desktop-nav{
    display: none;
  }
}
