* {
  box-sizing: border-box;
}

body {
  @include heavyFont;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  transition: all 2s;
}

h1 {
  font-size: 2rem;
  letter-spacing: .2rem;
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 4rem;
    letter-spacing: .3rem;
  }
}

h2{
    @include heavyFont;
    font-size: 2rem;
    letter-spacing: .3rem;
    // margin-bottom: -30px;
    // line-height: 1.2rem;
    // letter-spacing: .1rem;
}
h3{
    font-family: $font-p;
    font-size: 2em;
    font-weight: 200;
    // margin-bottom: -50px;
    // line-height: 1.2rem;
    // letter-spacing: .1rem;
}

p{
    font-family: $font-p;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: .25rem;
}
ul{
    margin: 0;
    padding: 0;
    font-family: $font-p;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    list-style-type: none;
}

// a {
//   color: $color-light;
//   text-decoration: none;
//   padding: 10px;
//   transition: letter-spacing 1s;
//     &:hover,
//     &:focus,
//     &:active {
//         //  font-size: 1.2rem;
//          letter-spacing: .05rem;
//          color: $color-active;
//          background-color: $color-light;
//     }
// }
